body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}
#app {
  height: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:link {
  text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
  text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
  text-decoration: none;
}
/* 正在点击的链接*/
a:active {
  text-decoration: none;
}
::-webkit-scrollbar {
  background-color: #e4e4e4;
  border-radius: 10px;
}
//滚动条的滑块
::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 10px;
}
.search-label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  padding: 0 8px 0 0;
  box-sizing: border-box;
  min-width: 80px;
}
.page-container {
  padding: 30px 45px 30px 50px;
  .inline-block {
    margin: 30px 50px 0 0;
    display: inline-block;
    .el-input {
      display: inline-block;
      width: 202px;
    }
    // ::v-deep.el-form-item__content {
    //   display: inline-block;
    //   width: 202px;
    // }
  }
  .block {
    margin: 30px 50px 0 0;
    .el-form-item__content {
      display: inline-block;
    }
  }
}
@import "./transition.scss";
